extends layout

block content
    table
        tbody
            tr
                th Email
                th Nom
                th Prénom
                th Date de naissance
                th Genre
                th Taille
                th Poids
            each val in data
                tr
                    td= val.email
                    td= val.lname
                    td= val.fname
                    td= val.bdate
                    td= val.gender
                    td= val.height
                    td= val.weight
